<header-web (dataEvent)='setLanguage($event)'></header-web>
<header class="container-fluid px-0">
  <div class="hero-image">
    <div class="hero-text text-center">
      <div class="my-5">
        <div class="row py-5">
          <div class="col-6 py-5 px-0">
            <img src="../../assets/image/ceba-1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-6 px-3">
            <div class="container text-center text-white sombra py-5">
              <h3 class="fw-bold titulo">CEBA</h3>
              <p class="text-justify lh-sm"><small>La modalidad CEBA nace en el 2011, todos los colegios con modalidad PRONOE
                  en ese año y para adelante, tuvieron que cambiar sus propuestas y plan de trabajo a CEBA (centro de
                  educacion basico alternativo). Nuestro centro educativo por supuesto que renovo su condicion de PRONOE
                  a CEBA y es por ello que entregamos certificacion PRONOE (años anteriores) y CEBA 2011 en adelante;
                  siendo la certificacion valida para cualquier estudio superior o fuerzas armadas/policiales que quiera
                  seguir el alumno. </small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<footer-web></footer-web>