<header-web (dataEvent)='setLanguage($event)'></header-web>
<section class="container-fluid p-5">
  <h1 class="titulo fw-bold text-center fs-1 color-1">HORARIOS</h1>
  <div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-6 py-4 px-5">
        <p class="text-justify lh-sm"><small>La principal diferencia entre un EBR (colegio regular) y un CEBA (colegio
            alternativo), radica en los
            horarios flexibles y que se acomodan a la necesidad del usuario.
            Actualmente en el colegio contamos con horarios de clase los dias viernes, sabado y domingo; establecidos de
            la siguiente manera:</small></p>
        <ul style="list-style-type:none;">
          <li class="lh-sm"><small><span class="fw-bold">– Viernes:</span> De 4:00 – 6:00pm donde se brindan talleres de
              ingles, computo y reforzamiento de matematica.</small></li>
          <li class="lh-sm"><small><span class="fw-bold">- Sabado:</span> De 8:00-2:30pm para realizar los cursos
              obligatorios como matematica, lenguaje, ciencias sociales, ciencia ambiente y salud.</small></li>
          <li class="lh-sm"><small><span class="fw-bold">- Domingo:</span>De 8:00-2:30pm para realizar los cursos
              obligatorios como matematica, lenguaje, ciencias sociales, ciencia ambiente y salud.</small></li>
        </ul>
      </div>
      <div class="col-6 text-center">
        <img src="../../assets/image/horario-1.jpg" width="80%" class="img-fluid" alt="">
      </div>
      <div class="col-12 w-100 my-4">
        <h1 class="titulo fw-bold text-center fs-1 color-1">TURNOS</h1>
      </div>
      <div class="col-6 p-5">
        <div class="card">
          <img src="../../assets/image/horario-2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title fw-bold text-center">HORARIO REGULAR</h5>
            <p class="card-text lh-sm">Este turno es el más adecuado para nuevos alumnos en la modalidad y que de esta
              manera se acoplen mejor a los CEBA.</p>
            <div class="card-text text-center lh-sm fw-bold">
              <small>09/2019 – 04/2020 (Dom)</small> <br>
              <small>10/2019 – 05/2020 (Sab)</small> <br>
              <small>01/2020 – 08/2020 (Dom)</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 p-5">
        <div class="card">
          <img src="../../assets/image/horario-2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center fw-bold">HORARIO AVANZADO</h5>
            <p class="card-text">El turno avanzado te permitira «ganar tiempo» en caso hayas dejado de estudiar durante
              un periodo de tiempo.</p>
            <div class="card-text text-center lh-sm fw-bold">
              <small>06/2019 – 01/2020</small> <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer-web></footer-web>