<header-web (dataEvent)='setLanguage($event)'></header-web>
<header class="container-fluid px-0">
  <div class="hero-image">
    <div class="hero-text text-center">
      <div class="my-5">
        <div class="row py-5">
          <div class="col-6 py-5 px-0">
            <img src="../../assets/image/pronoe-1.png" class="img-fluid" alt="">
          </div>
          <div class="col-6 px-3">
            <div class="container text-center text-white sombra py-5">
              <h3 class="fw-bold titulo">PRONOE</h3>
              <p class="text-justify lh-sm"><small>Nuestro colegio existe desde hace más de 26 años por lo que tenemos
                  muchos graduados en el sistema PRONOE (1995-2010), esta certificacion es solo para aquellos alumnos
                  egresados en ese periodo de años, si eres un alumno de esos años aproximate al colegio para solicitar
                  tu certificado. Ya sabes donde ubicarnos caso contrario anda a Contacto, suscribete o habla con
                  nosotros mediante el chat online, para facilitar el proceso!</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<footer-web></footer-web>